fastapi
uvicorn[standard]
pydantic
redis

# LangGraph + LangChain stack
langchain
langgraph
langgraph-prebuilt
langchain-google-genai
langchain-community
langchain-huggingface
langchain-text-splitters
google-genai

# RAG
faiss-cpu
sentence-transformers
pypdf
